body, html {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    direction: rtl;
    font-family: Abraham;
    background-color: #a5d9d9;
}

@font-face {
    font-family: Abraham;
    src: url(assets/fonts/Abraham-Regular.ttf);
}

.gridDiv {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 35% 15% 50%;
    row-gap: 20px;
}

.moreInfo, #videoDiv {
    grid-row: span 2;
}

.header {
    grid-column: span 2;
}

.header {
    background-color: #90b3d5;
    border-radius: 60px;
}

#switchImages {
    margin-top: 10px;
    max-height: 100%;
    width: auto;
    border-radius: 10px;
}

#video {
    height: 420px;
}

h1 {
    font-size: 60px;
}

h2 {
    margin-top: 0;
    font-size: 40px;
}

.treatmentCost, #article {
    font-size: 25px;
}

#donateDetails {
    font-size: 20px;
    color: #386694;
}

#donateDetails {
    display: block;
    position: absolute; /* Adjust as needed */
    top: 210;
    left: 300;
    right:300;
    bottom: 800;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust as needed */
    color: white;
    border-radius: 20px;
    padding: 7px;
    z-index: 1001; /* Adjust as needed */
  }

#article {
    margin-right: 170px;
    margin-left: 170px;
    margin-top: 0;
    padding: 5px;
    color: white;
    background-color: #386694;
    border-radius: 10px;
}

#donate {
    margin-top: 20px;
    margin-right: 70px;
    margin-left: 70px;
    background-color: #29a3a3;
    color: white;
    padding: 8px;
    font-size: 50px;
    border-radius: 60px;
}

iframe {
    width: 55%;
    margin-top: 20px;
}

.moreInfo {
    margin: 10px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #6fc3c3;
    border-radius: 60px;
}

.videoButtons {
    padding-bottom: 500px;
}

.explanation{
    font-size: 20px;
    margin-top: 70px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    body {
        height: auto;
        overflow:visible
    }

    .gridDiv {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        row-gap: 15px;
    }

    .explanation{
        display: none;
    }

    .header {
        grid-row: 1;
        padding: 20px;
    }

    .imagesDiv {
        grid-row: 2;
    }

    #switchImages {
        max-width: 95%;
        height: auto;
    }

    #donate {
        grid-row: 3;
        margin: 10px;
        font-size: 30px;
    }

    #videoDiv {
        grid-row: 4;
        margin: 20px;
        width: 90%;
    }

    #video {
        width: 100%;
        height: auto;
    }

    .moreInfo {
        grid-row: 5;
        width: 85%;
        margin: 10px;
        padding: 20px;
        border-radius: 60px;
    }

    #article {
        grid-row: 6;
        margin: 10px;
        padding: 10px;
        font-size: 18px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    .treatmentCost, #donateDetails {
        font-size: 18px;
    }
}
